@font-face {
    font-family: 'dinregular';
    src: url('../fonts/din_regular-webfont.woff2') format('woff2'), url('../fonts/din_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'djb_get_digitalregular';
    src: url('../fonts/djb_get_digital-webfont.woff2') format('woff2'), url('../fonts/djb_get_digital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheddar_jackregular';
    src: url('../fonts/cheddar_jack-webfont.woff2') format('woff2'), url('../fonts/cheddar_jack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amandasignature';
    src: url('../fonts/amandasignature.woff2') format('woff2'), url('../fonts/amandasignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sitka';
    src: url('../fonts/sitka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN.woff2') format('woff2'), url('../fonts/D-DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}