/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Main CSS Documentation:
----------------------------------------------------------------
1.0 Page
2.0 Cover
3.0 Custom
--------------------------------------------------------------*/

.cover {
    &__bg {
        width: 100%;
        height: 100vh;
        position: relative;
        img {
            width: 100%;
        }
        &--item1 {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            height: 100vh;
        }
        &--title {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            height: 100vh;
        }
        &--title1 {
            font-family: $font_01;
            position: absolute;
            top: 40%;
            left: 4%;
            font-family: "amandasignature";
            font-size: 62px;
            color: #333333;
        }
        &--title2 {
            position: absolute;
            top: 48%;
            left: 4%;
            font-size: 48px;
            font-family: $font_02;
            color: #333333;
        }
        &--title3 {
            color: #8E1A35;
            position: absolute;
            top: 65%;
            left: 6%;
            font-size: 63px;
            font-family: $font_02;
            font-weight: 700;
        }
        &--titleitem {
            position: absolute;
            top: -23%;
            left: -10%;
        }
        &--titleitem2 {
            position: absolute;
            top: 83%;
            left: 29%;
        }
        &--title4 {
            color: #333333;
            position: absolute;
            top: 72%;
            font-weight: 550;
            left: 6%;
            font-size: 47px;
            font-family: $font_02;
            span {
                color: #8E1A35;
            }
        }
        &--title5 {
            color: #333333;
            position: absolute;
            top: 80%;
            left: 6%;
            font-size: 25px;
            font-family: $font_02;
        }
    }
}

// .row {
//     margin-left: 0 !important;
//     margin-right: 0 !important;
// }
.bg2 {
    position: relative;
    &__content {
        font-family: $font_03;
        background: #8E1A35;
        height: auto;
        // background-image: url(../images/section1/cover2.png);
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-attachment: fixed;
        // background-size: cover;
    }
    &__item {
        position: absolute;
        right: 0;
        left: 0;
    }
    &__item1 {
        margin-top: 55%;
        text-align: right;
        font-size: 19px;
        color: #fff;
        p {
            line-height: 1.1;
        }
        &--1 {
            color: #fff;
        }
        &--2 {
            font-weight: bold;
            font-size: 75px;
            color: #FFF100;
            // margin-top/: -5%;
        }
    }
    &__item2 {
        margin-top: 55%;
        font-size: 19px;
        color: #fff;
        text-align: left;
        p {
            line-height: 1.1;
        }
        &--1 {
            line-height: 0.2;
        }
        &--2 {
            font-weight: bold;
            font-size: 110px;
            color: #FFF100;
            // margin-top: -5%;
        }
    }
    &__item3 {
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        img {
            margin-top: 55%;
            width: 70%;
        }
    }
}

.bg3 {
    position: relative;
    font-family: $font_03;
    margin-top: 10%;
    margin-bottom: 10%;
    &__item {
        font-size: 23px;
        margin-top: 19%;
        li {
            position: relative;
            list-style: none;
            text-align: right;
            padding-right: 5%;
            &::after {
                content: '';
                position: absolute;
                height: 7px;
                width: 7px;
                border-radius: 50%;
                background: black;
                right: 0;
                top: 16px;
            }
        }
        &--title {
            text-align: right;
            color: #7C1315;
            width: 50%;
            p {
                border: 1px solid #7C1315;
                border-radius: 30px;
                padding: 5px 15px;
                font-weight: bold;
            }
        }
        &--title1 {
            text-align: right;
            color: #7C1315;
            width: 50%;
            margin-left: 50%;
            p {
                border: 1px solid #7C1315;
                border-radius: 30px;
                padding: 5px 15px;
                font-weight: bold;
            }
        }
    }
    &__item1 {
        margin-left: 5%;
        font-size: 23px;
        margin-top: 19%;
    }
    &__item3 {
        font-size: 23px;
        text-align: center;
        p {
            line-height: 1.1;
        }
        &--title {
            color: #7C1315;
            width: 24%;
            text-align: center;
            left: 0;
            right: 0;
            margin: auto;
            p {
                border: 1px solid #7C1315;
                border-radius: 30px;
                padding: 5px 15px;
                font-weight: bold;
            }
        }
    }
}

.list {
    background: #8E1A35;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-family: $font_03;
    padding-top: 15px;
    p {
        line-height: 1.1;
    }
}

.bg4 {
    position: relative;
    // background-image: url(../images/section1/cover3.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // height: 1101px;
    font-family: $font_03;
    font-size: 40px;
    font-weight: bold;
    &__title {
        padding-top: 7%;
        right: 0;
        left: 0;
        margin: auto;
        width: 50%;
        text-align: center;
    }
    &__item {
        margin: 50px;
    }
}

.bg5 {
    position: relative;
    p {
        line-height: 1.1;
    }
    &__cover {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    &__content {
        right: 0;
        left: 0;
        font-size: 30px;
        text-align: center;
        font-family: $font_03;
        &--ris {
            font-size: 17px;
            margin-top: 3%;
        }
    }
    &__content2 {
        margin-top: 10%;
        font-family: $font_03;
        right: 0;
        left: 0;
        margin: auto;
        &--title {
            text-align: center;
            margin-top: 10%;
            font-size: 59px;
            font-weight: bold;
        }
        &--titleright {
            font-size: 42px;
            font-weight: bold;
            margin-top: 20%;
        }
        &--titleleft {
            font-size: 42px;
            font-weight: bold;
            margin-top: 20%;
            text-align: right
        }
        &--item {
            margin-left: 5%;
            margin-top: -5%;
            font-size: 23px;
            font-weight: bold;
        }
        &--item1 {
            font-size: 23px;
            font-weight: bold;
            li {
                position: relative;
                list-style: none;
                text-align: right;
                padding-right: 5%;
                &::after {
                    content: '';
                    position: absolute;
                    height: 8.5px;
                    width: 8.5px;
                    border-radius: 50%;
                    background: black;
                    right: 0;
                    top: 16px;
                }
            }
        }
        &--fun {
            position: relative;
            border: 1px solid #8E1A35;
            border-radius: 60px;
            font-weight: bold;
            font-family: $font_04;
            font-size: 20px;
            box-shadow: 8px 12px 0px #8e1a35;
            margin-bottom: 50px;
            margin-top: 6%;
            padding: 2% 2%;
            text-align: center;
            p {
                line-height: 0.7;
            }
            &--title {
                position: absolute;
                left: -125px;
                top: -50%;
                img {
                    width: 70%;
                }
            }
        }
    }
}

.bg6 {
    position: relative;
    padding-bottom: 9%;
    &__cover {
        position: absolute;
    }
    &__title {
        text-align: center;
        padding-top: 9%;
        padding-bottom: 3%;
        img {
            width: 50%;
        }
    }
    &__content {
        font-family: $font_03;
        font-weight: bold;
        font-size: 20px;
        p {
            background: #8E1A35;
            color: #fff;
            border-radius: 35px;
            padding: 5px 20px;
            margin: 10px;
        }
        &--1 {
            width: 34%;
            margin-left: 19%;
        }
        &--2 {
            width: 71%;
            margin-left: 19%;
        }
        &--3 {
            width: 84%;
            margin-left: 19%;
            p {
                padding: 16px 20px;
                border-radius: 60px;
            }
        }
        &--4 {
            width: 82%;
        }
        &--5 {
            width: 43%;
        }
        &--6 {
            width: 85%;
        }
        &--7 {
            width: 33%;
        }
    }
}

.bg7 {
    text-align: center;
    height: 400px;
    background: #8E1A35;
    &__foto {
        img {
            margin-top: -8%;
            margin-bottom: 3%;
        }
    }
    &__name {
        font-family: $font_03;
        color: #fff;
        font-size: 18px;
        p {
            line-height: 0.9;
        }
    }
    &__desc {
        font-family: $font_03;
        color: #fff;
        font-size: 18px;
        padding-top: 12px;
        p {
            padding: 0% 7%;
        }
        &--item1 {
            float: left;
            margin-top: -3%;
            img {
                width: 70%;
            }
        }
        &--item2 {
            float: right;
            img {
                width: 70%;
            }
        }
        &--logo {
            margin-top: 5%;
        }
    }
}

// page 2
.cover2 {
    position: relative;
    background: url(../images/section2/cover1.jpg) no-repeat top center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 28%;
        z-index: 2;
        background: rgba(241, 239, 217, 0);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241, 239, 217, 0)), color-stop(100%, #94002d));
        /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 239, 217, 0)), to(#94002d)); */
        background: linear-gradient(to bottom, rgba(241, 239, 217, 0) 0%, #b31d4a 100%);
    }
    &__title {
        position: absolute;
        top: 10%;
        @include max-responsive($sm) {
            top: 6%;
        }
        &--1 {
            font-family: $font_01;
            color: #94002d;
            font-size: 8em;
            width: 100%;
            margin-bottom: -93px;
            @include max-responsive($sm) {
                font-size: 3em;
                margin-bottom: -40px;
            }
        }
        &--2 {
            // margin-top: -8%;
            font-family: $font_05;
            color: #94002d;
            font-size: 5.5em;
            width: 100%;
            @include max-responsive($sm) {
                font-size: 2em;
            }
        }
        &--3 {
            margin-top: -3px;
            font-family: $font_03;
            font-size: 1.3em;
            width: 35%;
            font-weight: 600;
            @include max-responsive($sm) {
                width: 100%;
                margin-top: 30%;
                text-align: center;
            }
        }
        &--4 {
            font-size: 0.5em;
        }
        &--5 {
            margin-bottom: -7px;
        }
    }
}

.bgdoc {
    height: 100vh;
    position: relative;
    width: 100%;
    &__overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        position: absolute;
        background: #94002d;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #94002d), color-stop(100%, rgba(241, 239, 217, 0)));
        /* background: -webkit-gradient(linear, left top, left bottom, from(#94002d), to(rgba(241, 239, 217, 0))); */
        background: linear-gradient(to bottom, #b31d4a 0%, rgba(241, 239, 217, 0) 100%);
    }
    &__content {
        text-align: center;
        z-index: 5;
        padding-top: 50px;
        &--foto {
            z-index: 5;
            img {
                width: 20%;
            }
        }
        &--desc {
            background: #fff;
            padding: 40px;
            border-radius: 81px;
            border: 1px solid black;
            position: relative;
            margin: 0 auto;
            font-size: 1.2em;
            &::before {
                background: none;
                border: 1px solid black;
                content: "";
                display: block;
                position: absolute;
                border-radius: 81px;
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                z-index: -1;
                pointer-events: none;
            }
        }
        &--name {
            margin-top: 30px;
            border: 1px solid black;
            text-align: left;
            border-radius: 76px;
            padding: 10px 47px;
            background: #fff;
            width: 26.5%;
            margin-left: 37%;
        }
    }
}

.bgdoc2 {
    font-family: $font_03;
    background: #FFF2F2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
        width: 50%;
    }
    &__box {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    &__contentmid {
        text-align: center;
        font-weight: bold;
        font-size: 1.4em;
        img {
            width: 50%;
        }
    }
    &__contentleft {
        text-align: right;
        font-weight: bold;
        font-size: 2em;
        &--content {
            p {
                font-size: 0.6em;
            }
        }
    }
    &__contentright {
        text-align: left;
        font-weight: bold;
        font-size: 2em;
        &--content {
            p {
                font-size: 0.6em;
            }
        }
    }
}

.bgdoc3 {
    &__content {
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;
        font-family: $font_03;
        font-weight: bold;
        &--mid {
            img {
                width: 60%;
            }
        }
        &--left {
            font-size: 1.2em;
            text-align: right;
            &--1 {
                font-size: 2em;
                color: #7C1315;
            }
            &--2 {
                font-size: 1.5em;
                color: #7C1315;
            }
            &--3 {
                font-size: 1.8em;
                color: #7C1315;
            }
        }
        &--right {
            font-size: 1.2em;
            text-align: left;
            &--1 {
                font-size: 1.6em;
                color: #7C1315;
            }
            &--2 {
                color: #639B43;
                font-size: 3em;
            }
        }
    }
    &__list {
        border: 1px solid #7C1315;
        color: #7C1315;
        font-size: 2em;
        margin-bottom: 70px;
        font-weight: bold;
        border-radius: 20px;
        padding: 3px 20px;
        width: 51%;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__daun {
        padding-top: 70px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        img {
            width: 80%;
        }
        &--list {
            font-size: 0.8em;
            text-align: center;
        }
    }
    &__content2 {
        &--title {
            font-size: 1.2em;
            text-align: right;
            padding-right: 15%;
            font-weight: bold;
        }
        &--1 {
            height: 100%;
            p {
                line-height: 1;
            }
            &::after {
                content: '';
                position: absolute;
                background: #7C1315;
                height: 250px;
                width: 1px;
                right: 0;
                top: -35px;
            }
            &--a {
                color: #7C1315;
                font-size: 3em;
            }
            &--b {
                color: #7C1315;
                font-size: 3em;
            }
            &--c {
                color: #7C1315;
                font-size: 3.5em;
            }
        }
        &--2 {
            text-align: center;
            font-weight: bold;
        }
        &--3 {
            text-align: center;
            font-weight: bold;
        }
        &--4 {
            text-align: center;
            font-weight: bold;
        }
    }
    &__box {
        position: relative;
        border: 1px solid #7C1315;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 70px;
        &--item1 {
            position: absolute;
            right: 0;
            top: -40px;
            img {
                width: 90px;
                max-width: 100%;
            }
        }
        &--item2 {
            position: absolute;
            left: -20px;
            bottom: -20px;
            img {
                width: 100px;
                max-width: 100%;
            }
        }
    }
}

.bgdoc4 {
    position: relative;
    background: url(../images/section2/cover3.png) no-repeat top center;
    background-size: 100%;
    height: 1062px;
    width: 100%;
    z-index: -1;
    font-family: $font_03;
    @include max-responsive($sm) {
        height: 700px;
    }
    &__title {
        padding-top: 10%;
        &--item {
            border: 1px solid #7C1315;
            padding: 30px 80px;
            border-radius: 200px;
            z-index: 5;
            font-size: 2em;
            background: #fff;
            text-align: center;
            @include max-responsive($sm) {
                border-radius: 30px;
                padding: 10px 20px;
                font-size: 1.1em;
            }
            &--1 {
                color: #7C1315;
                font-weight: bold;
            }
            &--2 {
                background: #7C1315;
                color: #fff;
                padding: 0px 20px;
                border-radius: 30px;
                width: 50%;
                margin-left: 25%;
                @include max-responsive($sm) {
                    width: 90%;
                    margin-left: 5%;
                }
            }
        }
        &--item2 {
            img {
                width: 75%;
                margin-bottom: 30px;
                @include max-responsive($sm) {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            margin-top: 12%;
            text-align: center;
            font-size: 1.3em;
            width: 70%;
            margin-left: 13%;
            @include max-responsive($sm) {
                font-size: 1.1em;
                width: 95%;
                margin-left: 2%;
            }
        }
        &--item3 {
            margin-left: 38%;
            right: 0;
            text-align: center;
            color: #7C1315;
            font-size: 1.7em;
            font-weight: 1000;
            float: left;
            @include max-responsive($sm) {
                margin-left: 17%;
            }
            img {
                width: 40%;
            }
        }
        &--item4 {
            text-align: center;
            padding-top: 20%;
        }
    }
}

.bgdoc5 {
    &__content {
        font-family: $font_03;
        text-align: center;
        &--item1 {
            padding-bottom: 10%;
        }
        &--item2 {
            padding-bottom: 30px;
            img {
                width: 70%;
                @include max-responsive($sm) {
                    width: 100%;
                }
            }
        }
        &--item3 {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 2.5em;
            color: #7C1315;
            font-weight: bold;
            @include max-responsive($sm) {
                font-size: 1.5em;
            }
            &--left {
                text-align: center;
                width: 80%;
                padding-top: 30px;
                left: 0;
                right: 0;
                margin: auto;
            }
            &--right {
                text-align: center;
                width: 80%;
                padding-top: 30px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        &--item4 {
            width: 60%;
            margin-left: 20%;
            text-align: center;
            margin-bottom: 15%;
            margin-top: 30px;
            border: 1px solid #7C1315;
            border-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            box-shadow: 0px 20px 0px 14px #99284B;
            @include max-responsive($sm) {
                width: 90%;
                margin-left: 5%;
                font-size: 0.8em;
                box-shadow: 0px 10px 0px 4px #99284B;
                padding: 30px;
            }
            &--a {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: 20%;
                    top: 10px;
                    @include max-responsive($sm) {
                        left: -5%;
                        top: 5px;
                    }
                }
            }
            &--b {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: 40px;
                    top: 10px;
                    @include max-responsive($sm) {
                        left: -5%;
                        top: 5px;
                    }
                }
            }
            &--c {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: 15%;
                    top: 10px;
                    @include max-responsive($sm) {
                        left: -5%;
                        top: 5px;
                    }
                }
            }
            &--content {
                position: relative;
                font-size: 1.3em;
            }
            &--title {
                background: #fff;
                margin-top: -25px;
                width: 50%;
                margin-left: 25%;
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
                @include max-responsive($sm) {
                    margin-top: -45px;
                    width: 80%;
                    margin-left: 15%;
                }
            }
        }
    }
}

.bgdoc6 {
    font-family: $font_03;
    &__list {
        background: #99284B;
        color: #fff;
        font-size: 1.7em;
        font-weight: bold;
        padding: 30px;
        margin-bottom: 15%;
        @include max-responsive($sm) {
            font-size: 1.2em;
        }
    }
    text-align: center;
    &__left {
        border: 1px solid #99284B;
        border-radius: 50px;
        padding: 20px;
        font-size: 1.3em;
        box-shadow: 5px 10px;
        @include max-responsive($sm) {
            margin-bottom: 20%;
        }
        // &::before {
        //     background: none;
        //     border: 1px solid #99284B;
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     border-radius: 81px;
        //     top: -15px;
        //     left: -15px;
        //     right: -15px;
        //     bottom: -15px;
        //     z-index: -1;
        //     pointer-events: none;
        // }
        &::after {
            position: absolute;
            content: '';
            top: -165px;
            height: 165px;
            width: 0px;
            border: 1px dashed #99284B;
        }
    }
    &__mid {
        border: 1px solid #99284B;
        border-radius: 50px;
        padding: 20px;
        font-size: 1.3em;
        @include max-responsive($sm) {
            margin-bottom: 20%;
        }
        &::after {
            position: absolute;
            content: '';
            top: -165px;
            height: 165px;
            width: 0px;
            border: 1px dashed #99284B;
            @include max-responsive($sm) {
                top: -60px;
                height: 60px;
            }
        }
    }
    &__right {
        border: 1px solid #99284B;
        border-radius: 50px;
        padding: 20px;
        font-size: 1.3em;
        &::after {
            position: absolute;
            content: '';
            top: -165px;
            height: 165px;
            width: 0px;
            border: 1px dashed #99284B;
            @include max-responsive($sm) {
                top: -70px;
                height: 70px;
            }
        }
    }
}

.bgdoc7 {
    margin-top: 10%;
    position: relative;
    border-top: 1px solid #99284B;
    font-family: $font_03;
    text-align: center;
    &__leaf1 {
        position: absolute;
        top: -25px;
        left: 0;
        width: 110px;
        @include max-responsive($sm) {
            width: 50px;
        }
    }
    &__leaf2 {
        position: absolute;
        top: -25px;
        right: 0;
        width: 80px;
        @include max-responsive($sm) {
            width: 40px;
        }
    }
    &__leaf3 {
        position: absolute;
        top: 20%;
        left: 0;
        width: 50px;
        @include max-responsive($sm) {
            width: 25px;
            left: 10px;
        }
    }
    &__leaf4 {
        position: absolute;
        top: 20%;
        right: 0;
        width: 50px;
        @include max-responsive($sm) {
            width: 25px;
            right: 10px;
        }
    }
    &__leaf5 {
        position: absolute;
        top: 40%;
        left: 0;
        width: 50px;
        @include max-responsive($sm) {
            width: 20px;
            left: 10px;
        }
    }
    &__leaf6 {
        position: absolute;
        top: 40%;
        right: 0;
        width: 50px;
        @include max-responsive($sm) {
            width: 20px;
            right: 10px;
        }
    }
    &__leaf7 {
        position: absolute;
        top: 60%;
        left: 0;
        width: 50px;
        @include max-responsive($sm) {
            width: 20px;
            left: 10px;
        }
    }
    &__leaf8 {
        position: absolute;
        top: 60%;
        right: 0;
        width: 50px;
        @include max-responsive($sm) {
            width: 20px;
            right: 10px;
        }
    }
    &__title {
        font-size: 2.5em;
        font-weight: bold;
        &--1 {
            font-family: $font_01;
        }
    }
    &__question {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 5%;
        @include max-responsive($sm) {
            font-size: 1em;
        }
        &--1 {
            position: relative;
            font-family: $font_01;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 2em;
            &::before {
                content: '';
                position: absolute;
                background: url(../images/section2/bg_mitos.png) no-repeat;
                width: 127px;
                height: 20px;
                left: -10px;
                top: 20px;
                background-size: cover;
                background-position: center center;
                z-index: -1;
                img {
                    width: 100%;
                }
            }
        }
        &--2 {
            position: relative;
            font-family: $font_01;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 2em;
            &::before {
                content: '';
                position: absolute;
                background: url(../images/section2/bg_fakta.png) no-repeat;
                width: 127px;
                height: 20px;
                left: 6px;
                top: 20px;
                background-size: cover;
                background-position: center center;
                z-index: -1;
                img {
                    width: 100%;
                }
            }
        }
    }
    &__leafbottom1 {
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 400px;
        @include max-responsive($sm) {
            width: 100px;
        }
    }
    &__leafbottom2 {
        position: absolute;
        bottom: -100px;
        right: 0;
        width: 400px;
        @include max-responsive($sm) {
            width: 100px;
        }
    }
}

// page3
.cover3 {
    position: relative;
    &__title {
        text-align: center;
        font-family: $font_03;
        font-size: 3.5em;
        margin-top: 3%;
        &--1 {
            font-weight: 1000;
            margin-bottom: -10px;
        }
        &--2 {
            margin-top: -10px;
            font-family: $font_01;
            font-size: 1.5em;
        }
    }
    &__content {
        &--left {
            text-align: center;
            font-size: 1.3em;
            &--title {
                font-size: 1.5em;
                font-weight: bold;
            }
            &--1 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: -5%;
                        top: 5px;
                    }
                }
            }
            &--2 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: 5%;
                        top: 5px;
                    }
                }
            }
            &--3 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: -5%;
                        top: 5px;
                    }
                }
            }
            &--4 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: -5%;
                        top: 5px;
                    }
                }
            }
        }
        &--mid {
            text-align: center;
            font-size: 1.3em;
            &--title {
                font-size: 1.5em;
                font-weight: bold;
            }
            &--1 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: 5%;
                        top: 5px;
                    }
                }
            }
        }
        &--right {
            text-align: center;
            font-size: 1.3em;
            &--title {
                font-size: 1.5em;
                font-weight: bold;
            }
            &--1 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: 5%;
                        top: 5px;
                    }
                }
            }
            &--2 {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #99284B;
                    left: -2%;
                    top: 9px;
                    @include max-responsive($sm) {
                        left: 5%;
                        top: 5px;
                    }
                }
            }
        }
    }
    &__testi {
        position: relative;
        background: #94002d;
        margin-top: 15%;
        &__foto {
            text-align: center;
            margin-top: 15%;
        }
        &__desc {
            color: #fff;
            font-size: 1.1em;
            &--name {
                color: #fff;
            }
        }
    }
}

.section1 {
    background: #f1d8df;
    &__title {
        text-align: center;
    }
}

.section2 {
    position: relative;
    background: url(../images/section4/cover.jpg) no-repeat top center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
}