/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Utilities CSS Documentation:
----------------------------------------------------------------
1.0 Clearing
2.0 Margin Padding
3.0 Centering Layout
4.0 Component
  4.1 Button
  4.2 Font
  4.3 Modal Popup
  4.4 Back to Top
  4.5 Social Share
5.0 Utilities
  5.1 Gradient
--------------------------------------------------------------*/

// 1.0 Clearing
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after,
.row:after {
    clear: both;
}

// 2.0 Margin Padding
.mt1 {
    margin-top: 10px!important
}

.mb1 {
    margin-bottom: 10px!important
}

.mr1 {
    margin-right: 10px!important
}

.ml1 {
    margin-left: 10px!important
}

.pt1 {
    padding-top: 10px!important
}

.pb1 {
    padding-bottom: 10px!important
}

.pr1 {
    padding-right: 10px!important
}

.pl1 {
    padding-left: 10px!important
}

.mt2 {
    margin-top: 20px!important
}

.mt3 {
    margin-top: 30px!important
}

.mt4 {
    margin-top: 40px!important
}

.mb2 {
    margin-bottom: 20px!important
}

.mb4 {
    margin-bottom: 40px!important
}

.mr2 {
    margin-right: 20px!important
}

.ml2 {
    margin-left: 20px!important
}

.pt2 {
    padding-top: 20px!important
}

.pb2 {
    padding-bottom: 20px!important
}

.pr2 {
    padding-right: 20px!important
}

.pl2 {
    padding-left: 20px!important
}

// 3.0 Centering 
.flex__wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.centerElement {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.display-table {
    display: table;
    @include display_full();
    position: relative;
    z-index: 1;
}

.display-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    @include display_full();
}

.center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}

// 4.0 Component 
// 4.1 Button
.btn {
    @include transition(0.3s);
}

.btn-blue {
    background: $blue;
    color: $white;
    padding: 6px 10px;
    &:hover,
    &:focus {
        background: $lightblue;
        color: $white;
    }
}

.btn-white {
    background: 0 0;
    border: 2px solid $white;
    color: $white;
    padding: 12px 35px;
    border-radius: 0px;
    text-transform: capitalize;
    &:hover,
    &:focus {
        background: $white;
        color: $black;
        cursor: pointer;
    }
}

.btn-big {
    padding: 6px 25px;
    letter-spacing: 5px;
    font-weight: 600;
}

.btn-small {
    padding: 4px 20px;
}

a {
    @include base_transition(all);
}

// 4.2 Font Text
.text {
    font-size: 19px;
    color: $white;
    @include max-responsive($sm) {
        font-size: 16px;
    }
    &--white {
        color: $white;
    }
    &--black {
        color: $black;
    }
    &--bigger {
        font-size: 25px;
    }
    &--smaller {
        font-size: 12px;
    }
    &--bold {
        font-weight: bold;
    }
    &--title {
        font-size: 25px;
        font-weight: bold;
    }
}

.text-center {
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.text-left {
    text-align: left !important
}

// 4.3 Modal Popup
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

[role="button"] {
    cursor: pointer;
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    border: 1px solid #fff;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @include max-responsive($sm) {
        padding-top: 130px;
    }
    &__title {
        text-align: center;
        color: black;
        font-size: 32px;
        line-height: 1.9em;
        padding-left: 10px;
        font-weight: 700;
        font-family: $font_03;
        position: relative;
        &--1 {
            left: 34%;
            top: -12px;
            width: 20px;
            position: absolute;
            @include max-responsive($sm) {
                left: 0%;
            }
        }
        &--2 {
            right: 34%;
            top: -12px;
            width: 20px;
            position: absolute;
            @include max-responsive($sm) {
                right: 0%;
            }
        }
        @include max-responsive($sm) {
            font-size: 2em;
            margin-bottom: 15%;
            margin-top: -15%;
        }
    }
    &__content {
        p {
            font-size: 18px;
            line-height: 1.9em;
            padding: 10px;
            margin: 0;
            line-height: 1.6em;
        }
        position: relative;
        background-color: #fff;
        color: #fff;
        margin: auto;
        padding: 125px;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        @include max-responsive($sm) {
            width: 97%;
            top: -8%;
            padding: 30px;
        }
    }
    &__header {
        padding: 2px 40px;
        background-color: #fff;
        color: white;
        @include max-responsive($sm) {
            margin-top: 30%;
        }
    }
    &__body {
        padding: 100px 135px;
        @include max-responsive($sm) {
            padding: 2px 0px;
        }
        &--1 {
            font-family: $font_03;
            padding: 5px 20px;
            text-align: center;
            position: relative;
            color: black;
            background: #F9D61A;
            border-radius: 60px;
            margin-bottom: 10px;
            &--icon1 {
                position: absolute;
                left: -3%;
                top: 30%;
                width: 40px;
            }
        }
        &--2 {
            font-family: $font_03;
            padding: 5px 20px;
            position: relative;
            color: black;
            background: #F9D61A;
            border-radius: 100px;
            text-align: center;
            &--icon2 {
                position: absolute;
                left: -3%;
                top: 30%;
                width: 40px;
            }
        }
    }
    &__close {
        color: white;
        right: 0;
        margin-top: -6.5%;
        width: 50px;
        position: absolute;
        img {
            width: 77%;
        }
        &:hover,
         :focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        @include max-responsive($sm) {
            margin-top: -31.5%;
        }
    }
    &__break {
        border-bottom: 1px solid #fff;
        margin: 20px auto;
    }
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    border: 1px solid #fff;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @include max-responsive($sm) {
        padding-top: 130px;
    }
    &__content {
        p {
            font-size: 18px;
            line-height: 1.9em;
            padding: 10px;
            margin: 0;
            line-height: 1.6em;
        }
        position: relative;
        background-color: #8B1B35;
        color: #fff;
        margin: auto;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        @include max-responsive($sm) {
            width: 97%;
            top: -8%;
            padding: 30px;
        }
    }
    &__header {
        padding: 2px 40px;
        background-color: #fff;
        color: white;
        @include max-responsive($sm) {
            margin-top: 30%;
        }
    }
    &__body {
        padding: 100px 135px;
        font-family: $font_03;
        @include max-responsive($sm) {
            padding: 2px 0px;
        }
        &--answer {
            text-align: center;
            color: #fff;
            font-family: $font_03;
            font-size: 2em;
            padding-top: 5%;
        }
        &--title {
            text-align: center;
            p {
                font-size: 2em;
            }
        }
        &--content {
            border: 1px solid #fff;
            border-radius: 92px;
            padding: 47px 38px;
            margin-top: 10%;
            margin-bottom: 8%;
            text-align: center;
            font-size: 1.5em;
            @include max-responsive($sm) {
                border-radius: 45px;
            }
            &--1 {
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                width: 100px;
                background: #8B1B35;
                margin-top: -78px;
                padding: 10px;
            }
        }
    }
    &__close {
        color: white;
        right: 2%;
        top: 2%;
        padding: 0px 9px;
        position: absolute;
        background: #700823;
        border-radius: 50%;
        img {
            width: 77%;
        }
        &:hover,
         :focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            background: #fff;
        }
        @include max-responsive($sm) {
            margin-top: -0.5%;
        }
    }
    &__break {
        border-bottom: 1px solid #fff;
        margin: 20px auto;
    }
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    border: 1px solid #fff;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @include max-responsive($sm) {
        padding-top: 130px;
    }
    &__content {
        position: relative;
        background-color: #DBBAC4;
        color: black;
        margin: auto;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        @include max-responsive($sm) {
            width: 97%;
            top: -8%;
            padding: 30px;
        }
    }
    &__header {
        padding: 2px 40px;
        background-color: #fff;
        color: white;
        @include max-responsive($sm) {
            margin-top: 30%;
        }
    }
    &__body {
        padding: 100px 135px;
        font-family: $font_03;
        @include max-responsive($sm) {
            padding: 2px 0px;
        }
        &--title {
            text-align: center;
            p {
                font-size: 2em;
            }
        }
        &--content {
            text-align: center;
            font-size: 1.3em;
            &--1 {
                color: #8E1A35;
                font-weight: bold;
                font-size: 2em;
            }
            @include max-responsive($sm) {
                margin-top: 5%;
            }
        }
        &--content1 {
            margin-left: 10px;
            margin-right: 10px;
            width: 100%;
            font-size: 1.3em;
            padding-bottom: 15%;
            &--1 {
                width: 50%;
                float: left;
                @include max-responsive($sm) {
                    width: 100%;
                    float: none;
                }
                img {
                    width: 30%;
                    float: right;
                    @include max-responsive($sm) {
                        width: 70%;
                        float: none;
                        text-align: center;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
            &--2 {
                &--a {
                    @include max-responsive($sm) {
                        width: 100%;
                    }
                    width: 70%;
                    border-top: 1px solid #7EAEB5;
                    border-bottom: 1px solid #7EAEB5;
                }
                padding: 5% 7%;
                width: 50%;
                float: left;
                @include max-responsive($sm) {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
    &__close {
        color: white;
        right: 2%;
        top: 2%;
        padding: 0px 9px;
        position: absolute;
        background: #700823;
        border-radius: 50%;
        p {
            font-size: 18px;
            line-height: 1.9em;
            padding: 10px;
            margin: 0;
            line-height: 1.6em;
        }
        img {
            width: 77%;
        }
        &:hover,
         :focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            background: #fff;
        }
        @include max-responsive($sm) {
            margin-top: -3.5%;
        }
    }
    &__break {
        border-bottom: 1px solid #fff;
        margin: 20px auto;
    }
}

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    border: 1px solid #fff;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @include max-responsive($sm) {
        padding-top: 130px;
    }
    &__content {
        position: relative;
        background-color: #DBBAC4;
        color: black;
        margin: auto;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        @include max-responsive($sm) {
            width: 97%;
            top: -8%;
            padding: 30px;
        }
    }
    &__header {
        padding: 2px 40px;
        background-color: #fff;
        color: white;
        @include max-responsive($sm) {
            margin-top: 30%;
        }
    }
    &__body {
        padding: 100px 135px;
        font-family: $font_03;
        @include max-responsive($sm) {
            padding: 2px 0px;
        }
        &--title {
            text-align: center;
            p {
                font-size: 2em;
            }
        }
        &--content {
            text-align: center;
            font-size: 1.3em;
            &--1 {
                color: #8E1A35;
                font-weight: bold;
                font-size: 2em;
            }
            @include max-responsive($sm) {
                margin-top: 5%;
            }
        }
        &--content1 {
            margin-left: 10px;
            margin-right: 10px;
            width: 100%;
            font-size: 1.3em;
            padding-bottom: 15%;
            &--1 {
                width: 50%;
                float: left;
                @include max-responsive($sm) {
                    width: 100%;
                    float: none;
                }
                img {
                    width: 30%;
                    float: right;
                    @include max-responsive($sm) {
                        width: 70%;
                        float: none;
                        text-align: center;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
            &--2 {
                &--a {
                    @include max-responsive($sm) {
                        width: 100%;
                    }
                    width: 70%;
                    border-top: 1px solid #7EAEB5;
                    border-bottom: 1px solid #7EAEB5;
                }
                padding: 5% 7%;
                width: 50%;
                float: left;
                @include max-responsive($sm) {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
    &__close {
        color: white;
        right: 2%;
        top: 2%;
        padding: 0px 9px;
        position: absolute;
        background: #700823;
        border-radius: 50%;
        p {
            font-size: 18px;
            line-height: 1.9em;
            padding: 10px;
            margin: 0;
            line-height: 1.6em;
        }
        img {
            width: 77%;
        }
        &:hover,
         :focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            background: #fff;
        }
        @include max-responsive($sm) {
            margin-top: 0.5%;
        }
    }
    &__break {
        border-bottom: 1px solid #fff;
        margin: 20px auto;
    }
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}

button {
    color: #fff;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    color: black;
    padding: 0.3rem 2rem;
    outline: none;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    font-family: $font_03;
    margin-bottom: 5%;
}

.button-jittery button {
    animation: jittery 4s infinite;
    &:hover {
        animation: heartbeat 0.2s infinite;
    }
}

.botton01 {
    text-align: center;
    padding-top: 2%;
    @include max-responsive($sm) {
        padding-top: 25%;
        padding-bottom: 3%;
    }
    text-align: center;
    padding-top: 2%;
    button {
        color: #fff;
        background: #8E1A35;
        border: 3px solid #fff;
        border-radius: 50px;
        padding: 0.3rem 2rem;
        outline: none;
        cursor: pointer;
        position: relative;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        letter-spacing: 2px;
        font-family: $font_03;
        margin-bottom: 5%;
        color: #fff;
    }
}

@keyframes jittery {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

// 4.4 Back to top
.backtop {
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 1000;
    display: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    @include transition(0.4s);
    @include min-responsive($sm) {
        bottom: 25px;
        right: 15px;
    }
    span {
        color: black;
        font-size: 11px;
        text-align: center;
        margin-bottom: 5px;
        @include max-responsive($sm) {
            display: none;
        }
    }
    &__link {
        margin: auto;
        width: 36px;
        height: 36px;
        padding: 6px 8px;
        background: $white;
        border-radius: 30px;
        color: #000;
        border: 0px solid #000;
        display: block;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        @include transition(0.4s);
        &:hover {
            background: $yellow;
        }
    }
    &.show {
        opacity: 1;
    }
}

// 4.5 Social Share
.social {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 99;
    @include max-responsive($sm) {
        right: 0;
        left: 0;
        text-align: center;
        margin: auto;
        top: 5px;
    }
    &__item {
        margin: 0px 5px;
        img {
            width: 25px;
            @include max-responsive($sm) {
                width: 20px;
            }
        }
    }
}

// 5.0 Utilities 
.invisible {
    visibility: hidden;
}

.affix {
    position: fixed;
}

.hidden {
    display: none !important;
}

.italic {
    font-style: italic;
}

.no-pad {
    padding: 0px !important;
}

.container__full {
    height: 100%;
}

.full__height {
    height: 100vh !important;
}

@include min-responsive($xlg) {
    .full__height__desktop {
        height: 100vh !important;
    }
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background: $blue;
    }
}

.video-embed iframe,
.video-embed object,
.video-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// 5.1 Gradient
.overlay {
    @include display_full;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &__black {
        @include bg-gradient-black;
    }
    &__halfblack {
        @include bg-black;
    }
    &__radial--black {
        @include bg-radial-black;
    }
}

// 5.2 Parallax - Position
.parallax {
    width: 100%;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    background-attachment: fixed;
}

.scrollSlide {
    left: -100% !important;
    top: 0
}

.scrollDown {
    left: 0;
    top: 100% !important
}

.moveLeft {
    left: -100% !important
}

.pushRight {
    left: 0 !important
}

.moveRight {
    left: 100% !important
}

.moveDown {
    top: 0 !important
}

.moveUp {
    top: -100% !important
}

.display {
    opacity: 1 !important;
}

.hide {
    opacity: 0 !important;
}